.Rproj.user
.Rhistory
*.RData
.Ruserdata

*key.R

other
*ideas.txt
todo.txt

.httr-oauth
.DS_Store
*.log*
.ipynb_checkpoints/
*rsconnect
*compile/cache
compile/cache
compile/compile_cache/html/__packages
*brewsentation-cache
brewsentation-cache

brewsentation_io.Rmd
present/brewsentation_io_cache/
present/brewsentation_io_files/

*.dcf
*.html
*.csv
*.feather
*.rdb
*.rdx

!brewsentation.html
!*index.html
!*writeup.Rmd