.Rproj.user
.Rhistory
.RData
.Ruserdata
*.log*
*key.R
.ipynb_checkpoints/
*.dcf
*ideas.txt
other
.DS_Store
*compile_cache
*.html
*rsconnect
todo.txt
.httr-oauth
clusterfun/rsconnect/shinyapps.io/amandadobbyn/clusterfun.dcf
*compile/cache
*.csv
*.feather
*.rdb
beer_necessities.csv
clusterfun/data/popular_beer_dat.csv
clusterfun/data/style_centers.csv
clusterfun/data/beer_totals.csv